@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    display: block;
    font-family: "Pixelify Sans",system-ui,sans-serif;
    margin: 0;
    background-color: #D3B683;
}

h1 {
    text-align: center;
    font-size: 50px;
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(210,14,74,1)
    35%, rgba(255,59,0,1) 100%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
    
    .player-buttons {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        padding: 1rem;
        background-color: grey;
        margin-bottom: 0;

        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    #attack {
        font-family: "Pixelify Sans",system-ui,sans-serif;
        background-color: #B30000;
        color: white;
        
        padding: 50px 0;
        /* margin: 0 50px; */
        font-size: 2rem;
        text-align: center;
        width: 200px;
        
        border-radius: 10px;
        transition-duration: 0.5s;
        cursor: pointer;
        box-shadow: 0 5px #999;
    }
    
    #attack:hover {
        background-color: #ed0910;
    }
    
    #attack:active {
        box-shadow: 0 5px #666;
        transform: translateY(5px);
    }
    
#heal {
    font-family: "Pixelify Sans",system-ui,sans-serif;
    background-color: #156615;
    color: white;
    
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    padding: 50px 0;
    
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 5px #999;
}

#heal:hover {
    background-color: rgb(15, 213, 15);
}

#heal:active {
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.game-state-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;

    width: 250px;
    margin: auto;
    padding: 20px;
}

.round {
    display: flex;
    max-height: 30px;

    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: blue;
    background-image: linear-gradient(blue, rgb(82, 124, 192));

    margin-top: 10px;
    padding: 4px 5px;
    min-width: 150px;
}

#next-round {
    font-family: "Pixelify Sans",system-ui,sans-serif;
    font-size: 25px;
    background-color: #24AE24;
    color: black;

    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin: 10px auto;
}

#next-round:hover {
    background-color: rgb(15,213,15);
}

#restart {
    font-family: "Pixelify Sans",system-ui,sans-serif;
    font-size: 25px;
    color: white;
    background-color: #B30000;

    border-radius: 5px;
    width: 250px;
    margin: 10px auto;
    height: 50px;
}

#restart:hover {
    background-color: #ed0910;
}

.dashboard {
    display: grid;
    position: absolute;
    margin: auto;

    z-index: 1;
    right: 0;
    left: 0;
}

.top-dash {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.instructions {
    text-align: center;
    max-width: 500px;
    /* max-height: 500px; */
    /* margin-left: 80px; */
}

.bottom-dash {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.enemy {
    max-height: 250px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;

    color: white;
    background-color: rgb(163, 155, 155);
    background-image: linear-gradient(rgb(80, 78, 78),rgb(148, 142, 142), rgb(226, 224, 224));
}

.health {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;

    color: white;
    background-color: rgb(20, 223, 40);
    background-image: linear-gradient(rgb(34, 174, 34),rgb(50, 170, 50),rgb(50, 221, 50));
}

.dialogue {
    border: 3px solid black;
    border-radius: 5px;
    width: 300px;
    
    background-color: rgba(117, 114, 114, .5);
    max-height: 250px;
    overflow-y: auto;
}

.dialogue-text {
    margin-left: 10px;
    font-size: 20px;
}

.enemy-pokemon {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}